eval "$(devenv direnvrc)"

use devenv

# STARSHIP_CONFIG="$(dirname "$STARSHIP_CONFIG")/dev.toml"
# source "$DEVENV_ROOT/scripts/secrets.activate"

# export STARSHIP_CONFIG
# export PATH=$DEVENV_ROOT/scripts:$PATH
