eval "$(devenv direnvrc)"

use devenv

ANSIBLE_DIR=${DEVENV_ROOT}/ansible
ANSIBLE_CONFIG=${ANSIBLE_DIR}/ansible.cfg
ANSIBLE_PLAYBOOK_DIR=${ANSIBLE_DIR}

export ANSIBLE_CONFIG ANSIBLE_DIR ANSIBLE_PLAYBOOK_DIR
# STARSHIP_CONFIG="$(dirname "$STARSHIP_CONFIG")/dev.toml"
# source "$DEVENV_ROOT/scripts/secrets.activate"

# export STARSHIP_CONFIG
# export PATH=$DEVENV_ROOT/scripts:$PATH
