dotenv_if_exists ../.dec/terraform.dec.env
export TF_VARS=$(realpath ../.dec/terraform.dec.tfvars)
echo "## Used "
echo "tofu plan -var-file=\$TF_VARS "
echo "tofu apply -var-file=\$TF_VARS "
echo "###"
