---
global:
  fullnameOverride: {{trimSuffix "-post" .Release.Name}} 

rawResources:
  servicemonitor: 
    apiVersion: operator.victoriametrics.com/v1beta1
    kind: VMServiceScrape 
    spec:
      spec:
        endpoints:
        - port: manager
        namespaceSelector:
          matchNames:
          - {{.Release.Namespace}} 
        selector:
          matchLabels:
            app: longhorn-manager
