app-template:
  rawResources:
    default-pool:
      apiVersion: metallb.io/v1beta1
      kind: IPAddressPool
      spec:
        spec:
          addresses:
            - 10.83.101.50-10.83.101.80
    default-l2:
      apiVersion: metallb.io/v1beta1
      kind: L2Advertisement
      spec: {}
